@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prata&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

* {
  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #ffffff; /* Gray highlight */
  color: #050505; /* Selected text color */
}

::-moz-selection {
  background: #ffffff;
  color: #050505;
}

img,
svg {
  -webkit-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background: #050505;
}

.oswald-regular {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.montserrat-regular {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-regular {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-normal {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-light {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 300;
  font-style: italic;
}

.orbitron-regular {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

@utility contact-text-responsive {
  @apply text-[32px] sm:text-[52px] md:text-[62px] lg:text-[72px];
}

.ServiceCard {
  position: relative;
}

.ServiceCard .indicator {
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.4s ease;
}

.ServiceCard:hover .indicator {
  transform: scaleX(1);
}

@media (min-height: 950px) {
  .main-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .extra-section {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .main-box {
    width: 300px;
  }
}

@media (max-height: 600px) {
  .main-box {
    width: 280px;
    height: 170px;
    padding: 0px 5px;
    left: 0px;
  }
}

.animate-spin-slow {
  animation: spin 16s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes bounce {
  to {
    y: 10px;
  }

  from {
    y: 0px;
  }
}

/* index.css */

@keyframes floatSlow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-18px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatMedium {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes floatFast {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-8px);
  }

  100% {
    transform: translateY(0px);
  }
}

@keyframes rotateFloat {
  0% {
    transform: translateY(0px) rotate(0deg);
  }

  50% {
    transform: translateY(-10px) rotate(10deg);
  }

  100% {
    transform: translateY(0px) rotate(0deg);
  }
}

.animate-float-slow {
  animation: floatSlow 2s ease-in-out infinite;
}

.animate-float-medium {
  animation: floatMedium 2s ease-in-out infinite;
}

.animate-float-fast {
  animation: floatFast 2s ease-in-out infinite;
}

.animate-rotate-float {
  animation: rotateFloat 2s ease-in-out infinite;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.animate-gradient {
  animation: gradientMove 4s linear infinite;
}

/* Fix Chrome autofill background */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.4) inset !important;
  box-shadow: 0 0 0px 1000px rgba(0, 0, 0, 0.4) inset !important;

  -webkit-text-fill-color: #fff !important;
  caret-color: #fff;
  transition: background-color 5000s ease-in-out 0s;
}
